{% extends 'index.html' %} {% block content %}

<div class="container-fluid">
  <section>
    <h1>H1 Header Text</h1>
    <h2>H2 Header Text</h2>
    <h3>H3 Header Text</h3>
    <h4>H4 Header Text</h4>
    <h5>H5 Header Text</h5>
    <h6>H6 Header Text</h6>
  
    <p class="hl__subtitle">Subtitle text that goes below a title or heading</p>
  
    <p class="lead">This is an example of a sentence with supporting large text.</p>
    
    <p>This is an example of a sentence with regular text.</p>
    
    <p><small>This is an example of a sentence with small text.</small></p>
  
    <p><a href="#" title="">this is a basic link</a></p>
  </section>
  
  <section>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">button as a link</button>
  </section>
  
  <section>
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
    <button type="button" class="btn btn-primary">Default button</button>
    <button type="button" class="btn btn-primary btn-sm">Small button</button>
  </section>
</div>

{% endblock %}
